/******/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.header {
  position: sticky;
  z-index: 100;
  top: 0px;
  left: 0px; }
  .header__nav {
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.45);
    padding: 1.5rem; }
    .header__nav__logo {
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      color: #0055ff;
      text-decoration: none;
      font-size: 2.6rem;
      letter-spacing: .15rem;
      margin-left: .5rem; }
    .header__nav__logo:hover {
      color: #0055ff; }
    .header__nav__btn {
      font-size: 1.8rem; }
    .header__nav__list {
      padding: 1.1rem;
      font-size: 1.8rem;
      text-align: center; }
      .header__nav__list__a {
        padding: 1rem;
        text-decoration: none;
        color: #4d88ff;
        font-style: "Lato", sans-serif;
        font-weight: 700;
        letter-spacing: .1rem; }
      .header__nav__list__a:last-child {
        padding-bottom: 0; }
      .header__nav__list__a:hover {
        color: #4d88ff; }

.footer__div {
  padding: 1.8rem; }
  .footer__div__text {
    font-size: 1.4rem; }

#main-index .main__div__hero__h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: .2rem;
  padding: 4rem;
  margin: .5rem; }

#main-index .main__div__hero__img {
  width: 100%;
  padding: 2rem 4rem; }

#main-index .main__div__title {
  text-align: center; }
  #main-index .main__div__title__h2 {
    font-size: 2.4rem;
    font-weight: 900;
    margin: 1rem; }
  #main-index .main__div__title__p {
    margin: .5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: #737373; }

#main-index .main__div__cards__div-2 {
  padding: 1.8rem;
  margin: 2rem .5rem;
  text-align: center; }
  #main-index .main__div__cards__div-2__img {
    width: 4.5rem;
    margin: .5rem 0; }
  #main-index .main__div__cards__div-2__h2 {
    font-weight: 900;
    font-size: 2rem;
    margin: 1rem 0;
    color: #0055ff; }
  #main-index .main__div__cards__div-2__p {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 1rem 0; }

#main-index .main__data {
  background-color: #004de6; }
  #main-index .main__data__div {
    text-align: center;
    color: #fff;
    padding: 2rem; }
    #main-index .main__data__div__h2 {
      font-size: 2.8rem;
      font-weight: 900;
      letter-spacing: .1rem;
      padding: 0 3.5rem; }
    #main-index .main__data__div__p {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0 auto; }

#main-index .main__to-contact {
  padding: 1rem;
  text-align: center;
  margin: 3.4rem; }
  #main-index .main__to-contact__h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    font-size: 2rem; }
    #main-index .main__to-contact__h2 a {
      text-decoration: none; }
    #main-index .main__to-contact__h2 a:hover {
      text-decoration: underline; }

#main-about {
  padding: 2.6rem; }
  #main-about .main__div__h1 {
    font-size: 2.7rem;
    font-weight: 900;
    letter-spacing: .1rem;
    line-height: 1.3; }
  #main-about .main__div__p {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2.5rem 0; }
    #main-about .main__div__p a {
      text-decoration: none; }
    #main-about .main__div__p a:hover {
      text-decoration: underline; }

#main-project {
  padding: 2.6rem; }
  #main-project .main__div__h1 {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    line-height: 1.3; }
  #main-project .main__div__p {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2.5rem 0; }
    #main-project .main__div__p a {
      text-decoration: none; }
    #main-project .main__div__p a:hover {
      text-decoration: underline; }

#main-contact form {
  padding: 2rem; }
  #main-contact form .form__h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 2.7rem;
    color: #0055ff;
    text-align: center; }
  #main-contact form .form__p {
    font-size: 1.3rem;
    font-weight: 700; }
  #main-contact form .container__form__1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem; }
    #main-contact form .container__form__1 label {
      font-size: 1.4rem; }
    #main-contact form .container__form__1 input {
      margin-bottom: 1rem; }
  #main-contact form .container__form__2 {
    margin-bottom: 1.5rem; }
    #main-contact form .container__form__2 input {
      padding: .6rem;
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 1.3rem;
      outline: none;
      border: 1px solid #000;
      border-radius: .4rem; }
    #main-contact form .container__form__2 input:focus {
      outline: 2px solid #0055ff; }
    #main-contact form .container__form__2 label {
      font-size: 1.4rem;
      font-weight: 700; }
  #main-contact form .container__form__3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem; }
    #main-contact form .container__form__3 select {
      padding: .7rem;
      border-radius: .4rem;
      outline: none; }
      #main-contact form .container__form__3 select option {
        font-weight: 700; }
    #main-contact form .container__form__3 select:focus {
      outline: 2px solid #0055ff; }
  #main-contact form .container__form__4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem; }
    #main-contact form .container__form__4 label {
      margin-bottom: .6rem; }
    #main-contact form .container__form__4 textarea {
      font-size: 1.3rem;
      font-weight: 700;
      border: 1px solid #000;
      border-radius: .4rem;
      padding: 1rem;
      outline: none; }
    #main-contact form .container__form__4 textarea:focus {
      outline: 2px solid #0055ff; }
  #main-contact form .container__form__5 {
    margin-top: 3rem; }
    #main-contact form .container__form__5 input {
      width: 100%;
      color: #fff;
      padding: 1.2rem 2rem;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: .4rem;
      background-color: #3377ff;
      transition: all 0.3s; }
    #main-contact form .container__form__5 input:hover {
      background-color: #004de6; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@media screen and (min-width: 768px) {
  #main-index .main__div__hero {
    padding: 3rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center; }
    #main-index .main__div__hero h1 {
      font-size: 4.3rem;
      text-align: left; }
    #main-index .main__div__hero img {
      max-width: 38rem; }
  #main-index .main__div__title {
    margin-top: 1rem; }
    #main-index .main__div__title h2 {
      font-size: 2.8rem; }
    #main-index .main__div__title p {
      font-size: 1.8rem; }
  #main-index .main__div__cards__div-2 {
    padding: 2rem; }
    #main-index .main__div__cards__div-2 img {
      width: 5rem;
      margin: 0 0; }
    #main-index .main__div__cards__div-2 h2 {
      margin: .5rem 0;
      font-size: 2.4rem; }
    #main-index .main__div__cards__div-2 p {
      font-size: 1.7rem; }
  #main-about {
    padding: 3.6rem;
    margin: 1rem; }
    #main-about .main__div__h1 {
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      margin-bottom: 3rem; }
    #main-about .main__div p {
      font-size: 2rem;
      margin: 1.7rem 0; }
  #main-project {
    padding: 3rem; }
    #main-project .main__div h1 {
      font-size: 3.3rem;
      margin-bottom: 3rem; }
    #main-project .main__div p {
      font-size: 1.8rem;
      margin: 2.3rem 0; }
  #main-contact form {
    padding: 2.6rem; }
    #main-contact form .form__h1 {
      font-size: 3.5rem; }
    #main-contact form .form__p {
      font-size: 1.6rem;
      text-align: center; }
    #main-contact form .container__form__1 {
      font-size: 1.6rem; }
      #main-contact form .container__form__1 label {
        font-size: 1.8rem;
        margin-bottom: .6rem; }
      #main-contact form .container__form__1 input {
        margin-bottom: 1.3rem; }
    #main-contact form .container__form__2 {
      margin-bottom: 2rem; }
      #main-contact form .container__form__2 input {
        padding: 1rem;
        font-size: 1.5rem;
        margin-bottom: 1.5rem; }
      #main-contact form .container__form__2 label {
        font-size: 1.8rem; }
    #main-contact form .container__form__3 {
      font-size: 1.8rem;
      margin-bottom: 2.3rem; }
      #main-contact form .container__form__3 label {
        font-size: 1.8rem;
        margin-bottom: .7rem; }
      #main-contact form .container__form__3 select {
        font-size: 1.6rem;
        padding: 1rem; }
    #main-contact form .container__form__4 {
      margin-bottom: 1.4rem; }
      #main-contact form .container__form__4 label {
        font-size: 1.9rem;
        margin-bottom: .8rem; }
      #main-contact form .container__form__4 textarea {
        font-size: 1.5rem; }
    #main-contact form .container__form__5 {
      margin-top: 3.3rem; }
      #main-contact form .container__form__5 input {
        padding: 1.5rem 2rem;
        font-size: 2rem; } }

@media screen and (min-width: 1024px) {
  .header__nav {
    padding: 1.5rem; }
    .header__nav__logo {
      font-size: 3.5rem;
      margin-left: 10rem; }
    .header__nav__list {
      margin-right: 10rem;
      padding: 1rem; }
      .header__nav__list__a {
        font-size: 2.1rem;
        padding: 0;
        margin: 0 2rem;
        transition: color .4s; }
      .header__nav__list__a:hover {
        color: #004de6; }
  #main-index .main__div__hero {
    padding: 4rem;
    margin: 1rem 0; }
    #main-index .main__div__hero h1 {
      font-size: 6.6rem;
      display: flex;
      flex-direction: column; }
    #main-index .main__div__hero img {
      max-width: 50rem; }
  #main-index .main__div__title {
    margin-top: 9rem; }
    #main-index .main__div__title h2 {
      font-size: 3.6rem; }
    #main-index .main__div__title p {
      font-size: 2.4rem; }
  #main-index .main__div__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem 6rem; }
    #main-index .main__div__cards__div-2 {
      padding: 2rem; }
      #main-index .main__div__cards__div-2__img {
        width: 6rem;
        margin: 0 0; }
      #main-index .main__div__cards__div-2__h2 {
        margin: .5rem 0;
        font-size: 3.1rem; }
      #main-index .main__div__cards__div-2__p {
        font-size: 2rem; }
  #main-index .main__data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem; }
    #main-index .main__data__div__h2 {
      font-size: 3.7rem; }
    #main-index .main__data__div__p {
      font-size: 2.2rem; }
  #main-index .main__to-contact {
    padding: 2.5rem; }
    #main-index .main__to-contact__h2 {
      font-size: 3rem; }
  #main-about {
    padding: 4.6rem;
    margin: 1rem 2rem; }
    #main-about .main__div__h1 {
      font-size: 4.5rem;
      margin-bottom: 4.5rem; }
    #main-about .main__div p {
      font-size: 2.7rem;
      margin: 2.5rem 0; }
    #main-about .main__div p:last-child {
      margin-bottom: 0; }
  #main-project {
    padding: 4.5rem; }
    #main-project .main__div h1 {
      font-size: 4.6rem;
      margin-bottom: 4rem; }
    #main-project .main__div p {
      font-size: 2.5rem;
      margin: 2.7rem 0; }
    #main-project .main__div p:last-child {
      margin-bottom: 0; }
  #main-contact form {
    padding: 3.6rem; }
    #main-contact form .form__h1 {
      font-size: 4.6rem; }
    #main-contact form .form__p {
      font-size: 2rem; }
    #main-contact form .container__form__1 {
      font-size: 1.9rem; }
      #main-contact form .container__form__1 label {
        font-size: 2.6rem;
        margin-bottom: .8rem; }
      #main-contact form .container__form__1 input {
        margin-bottom: 1.6rem; }
    #main-contact form .container__form__2 {
      margin-bottom: 2.5rem; }
      #main-contact form .container__form__2 input {
        padding: 1.4rem;
        font-size: 1.8rem;
        margin-bottom: 2.5rem; }
      #main-contact form .container__form__2 label {
        font-size: 2.3rem;
        margin-bottom: .5rem; }
    #main-contact form .container__form__3 {
      margin-bottom: 3rem; }
      #main-contact form .container__form__3 label {
        font-size: 2.4rem;
        margin-bottom: .9rem; }
      #main-contact form .container__form__3 select {
        font-size: 1.8rem;
        padding: 1.3rem;
        width: 30rem; }
    #main-contact form .container__form__4 {
      margin-bottom: 3rem; }
      #main-contact form .container__form__4 label {
        font-size: 2.4rem;
        margin-bottom: .4rem; }
      #main-contact form .container__form__4 textarea {
        font-size: 1.8rem;
        resize: none; } }

html {
  font-size: 62.5%; }
  html body {
    font-family: "Lato", sans-serif; }
