#main-about {
    padding: 2.6em;
    .main__div {
        &__h1 {
            font-size: 2.7rem;
            font-weight: $font-black;
            letter-spacing: .1rem;
            line-height: 1.3;
        }
        &__p {
            font-size: 1.6rem;
            font-weight: $font-bold;
            margin: 2.5rem 0;
            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}