#main-contact {
    form {
        padding: 2rem;
        .form__h1 {
            font-family: $font-secondary;
            font-weight: $font-bold-ubuntu;
            font-size: 2.7rem;
            color: hsl(220, 100%, 50%);
            text-align: center;
        }
        .form__p {
            font-size: 1.3rem;
            font-weight: $font-bold;
        }
        .container__form {
            &__1 {
                font-size: 1.3rem;
                font-weight: $font-bold;
                label {
                    font-size: 1.4rem;
                    font-weight: $font-black;
                    letter-spacing: .1rem;
                }
            }
        }
    }
}