.header {
    position: sticky;
    z-index: 100;
    top: 0px;
    left: 0px;
    &__nav {
        background-color: #fff;
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
        padding: 1.5rem;
        &__logo {
            font-weight: $font-bold-ubuntu;
            color: hsl(220, 100%, 50%);
            text-decoration: none;
            font-size: 2.6rem;
            letter-spacing: .15rem;
            margin-left: .5rem;
        }
        &__logo:hover {
            color: hsl(220, 100%, 50%);
        }
        &__btn {
            font-size: 1.8rem;
        }
        &__list {
            padding: 1.1rem;
            font-size: 1.8rem;
            text-align: center;
            &__a {
                padding: 1rem;
                text-decoration: none;
                color: hsl(220, 100%, 65%);
                font-style: $font-primary;
                font-weight: $font-bold;
                letter-spacing: .1rem;
            }
            &__a:last-child {
                padding-bottom: 0;
            }
            &__a:hover {
                color: hsl(220, 100%, 65%);
            }
        }
    }
}