.header {
    &__nav {
        background-color: $bg-color;
        padding: 1.5rem;
        &__logo {
            color: $color-white;
            text-decoration: none;
            font-size: 2.5rem;
            font-style: $font-secondary;
            font-weight: $font-medium-roboto;
            letter-spacing: .1rem;
            margin-left: .5rem;
        }
        &__logo:hover {
            color: $color-white;
        }
        &__btn {
            font-size: 1.8rem;
        }
        &__list {
            padding: 1.1rem;
            font-size: 1.8rem;
            text-align: center;
            &__a {
                padding: 1rem;
                text-decoration: none;
                color: $color-white;
                letter-spacing: .1rem;
            }
            &__a:last-child {
                padding-bottom: 0;
            }
            &__a:hover {
                color: $color-white;
            }
        }
    }
}