// Media Queries
@include mobile {
    // Nothing for now
}

@include tablet {
    #main-index {
        .main__div {
            &__hero {
                padding: 3rem;
                margin-bottom: 5rem;
                display: flex;
                align-items: center;
                h1 {
                    font-size: 4rem;
                    text-align: left;
                }
                img {
                    max-width: 38rem;
                }
            }
        }
    }
}