// Media Queries
@include tablet {
    #main-index {
        .main__div {
            &__hero {
                padding: 3rem;
                margin-bottom: 5rem;
                display: flex;
                align-items: center;
                h1 {
                    font-size: 4.3rem;
                    text-align: left;
                }
                img {
                    max-width: 38rem;
                }
            }
            &__title {
                margin-top: 1rem;
                h2 {
                    font-size: 2.8rem;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            &__cards {
                &__div-2 {
                    padding: 2rem;
                    img {
                        width: 5rem;
                        margin: 0 0;
                    }
                    h2 {
                        margin: .5rem 0;
                        font-size: 2.4rem;
                    }
                    p {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
    #main-about {
        padding: 3.6rem;
        margin: 1rem;
        .main__div {
            &__h1 {
                display: flex;
                flex-direction: column;
                font-size: 3rem;
                margin-bottom: 3rem;
            }
            p {
                font-size: 2rem;
                margin: 1.7rem 0;
            }
        }
    }
    #main-project {
        padding: 3rem;
        .main__div {
            h1 {
                font-size: 3.3rem;
                margin-bottom: 3rem;
            }
            p {
                font-size: 1.8rem;
                margin: 2.3rem 0;
            }
        }
    }
    #main-contact {
        form {
            padding: 2.6rem;
            .form__h1 {
                font-size: 3.5rem;
            }
            .form__p {
                font-size: 1.6rem;
                text-align: center;
            }
            .container__form {
                &__1 {
                    font-size: 1.6rem;
                    label {
                        font-size: 1.8rem;
                        margin-bottom: .6rem;
                    }
                    input {
                        margin-bottom: 1.3rem;
                    }
                }
                &__2 {
                    margin-bottom: 2rem;
                    input {
                        padding: 1rem;
                        font-size: 1.5rem;
                        margin-bottom: 1.5rem;
                    }
                    label {
                        font-size: 1.8rem;
                    }
                }
                &__3 {
                    font-size: 1.8rem;
                    margin-bottom: 2.3rem;
                    label {
                        font-size: 1.8rem;
                        margin-bottom: .7rem;
                    }
                    select {
                        font-size: 1.6rem;
                        padding: 1rem;
                    }
                }
                &__4 {
                    margin-bottom: 1.4rem;
                    label {
                        font-size: 1.9rem;
                        margin-bottom: .8rem;
                    }
                    textarea {
                        font-size: 1.5rem;
                    }
                }
                &__5 {
                    margin-top: 3.3rem;
                    input {
                        padding: 1.5rem 2rem;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@include desktop {
    .header {
        &__nav {
            padding: 1.5rem;
            &__logo {
                font-size: 3.5rem;
                margin-left: 10rem;
            }
            &__list {
                margin-right: 10rem;
                padding: 1rem;
                &__a {
                    font-size: 2.1rem;
                    padding: 0;
                    margin: 0 2rem;
                    transition: color .4s;
                }
                &__a:hover {
                    color: hsl(220, 100%, 45%);
                }
            }
        }
    }
    #main-index {
        .main__div {
            &__hero {
                padding: 4rem;
                margin: 1rem 0;
                h1 {
                    font-size: 6.6rem;
                    display: flex;
                    flex-direction: column;
                }
                img {
                    max-width: 50rem;
                }
            }
            &__title {
                margin-top: 9rem;
                h2 {
                    font-size: 3.6rem;
                }
                p {
                    font-size: 2.4rem;
                }
            }
            &__cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin: 4rem 6rem;
                &__div-2 {
                    padding: 2rem;
                    &__img {
                        width: 6rem;
                        margin: 0 0;
                    }
                    &__h2 {
                        margin: .5rem 0;
                        font-size: 3.1rem;
                    }
                    &__p {
                        font-size: 2rem;
                    }
                }
            }
        }
        .main__data {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 3rem;
            &__div {
                &__h2 {
                    font-size: 3.7rem;
                }
                &__p {
                    font-size: 2.2rem;
                }
            }
        }
        .main__to-contact {
            padding: 2.5rem;
            &__h2 {
                font-size: 3rem;
            }
        }
    }
    #main-about {
        padding: 4.6rem;
        margin: 1rem 2rem;
        .main__div {
            &__h1 {
                font-size: 4.5rem;
                margin-bottom: 4.5rem;
            }
            p {
                font-size: 2.7rem;
                margin: 2.5rem 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    #main-project {
        padding: 4.5rem;
        .main__div {
            h1 {
                font-size: 4.6rem;
                margin-bottom: 4rem;
            }
            p {
                font-size: 2.5rem;
                margin: 2.7rem 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    #main-contact {
        form {
            padding: 3.6rem;
            .form__h1 {
                font-size: 4.6rem;
            }
            .form__p {
                font-size: 2rem;
            }
            .container__form {
                &__1 {
                    font-size: 1.9rem;
                    label {
                        font-size: 2.6rem;
                        margin-bottom: .8rem;
                    }
                    input {
                        margin-bottom: 1.6rem;
                    }
                }
                &__2 {
                    margin-bottom: 2.5rem;
                    input {
                        padding: 1.4rem;
                        font-size: 1.8rem;
                        margin-bottom: 2.5rem;
                    }
                    label {
                        font-size: 2.3rem;
                        margin-bottom: .5rem;
                    }
                }
                &__3 {
                    margin-bottom: 3rem;
                    label {
                        font-size: 2.4rem;
                        margin-bottom: .9rem;
                    }
                    select {
                        font-size: 1.8rem;
                        padding: 1.3rem;
                        width: 30rem;
                    }
                }
                &__4 {
                    margin-bottom: 3rem;
                    label {
                        font-size: 2.4rem;
                        margin-bottom: .4rem;
                    }
                    textarea {
                        font-size: 1.8rem;
                        padding: 1.3rem;
                        resize: none;
                    }
                }
                &__5 {
                    margin-top: 4rem;
                    input {
                        padding: 1.8rem 2.3rem;
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}