// Typography
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); // Lato
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap'); // Roboto Slab
html {
    font-size: 62.5%; // 1rem == 10px
    font-family: $font-primary;
    body {
        font-family: $font-primary; // Inter
        background-color: $bg-site;
    }
}