// Variables
$bg-color: #391672;
$color-rich_midtone: #1C55E4;
$color-muted_midtone: #4C41C6;
$color-rich_light: #809FED;
$color-white: #fff;

// Typography
$font-primary: 'Inter', sans-serif;
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
/******/
$font-secondary: 'Scheherazade New', serif;
$font-regular-s: 400;
$font-bold-s: 700;