// Variables
// $bg-color: hsl(260, 70%, 45%);
// $bg-site: #293557;
// $color-rich_midtone: #1C55E4;
// $color-muted_midtone: #4C41C6;
// $color-rich_light: #809FED;
// $color-white: #fff;

// Typography
$font-primary: 'Lato', sans-serif;
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;
/******/
$font-secondary: 'Ubuntu', sans-serif;
$font-light-ubuntu: 300;
$font-regular-ubuntu: 400;
$font-medium-ubuntu: 500;
$font-bold-ubuntu: 700;